<ion-content [fullscreen]="true" class="ion-padding">
  <div class="seletorTempo">
    <ion-datetime 
      presentation="time" 
      [(ngModel)]="dataSInicial">
    </ion-datetime>
    <p>A</p>
    <ion-datetime 
      presentation="time" 
      [(ngModel)]="dataSFinal">
    </ion-datetime>
  </div><br>

  <ion-card>
    <!-- Header -->
    <br>
    <div class="title">
      <h5>Data</h5>

      <ion-buttons shape="round">
        <!-- Editar os Horarios individualmente -->
        <ion-button *ngIf="idAlarme;" class="shadow" (click)="showHorarios = true">
          <ion-icon name="time-outline" slot="icon-only"></ion-icon>
        </ion-button>
  
        <ion-button class="shadow" (click)="showCalendar = true">
          <ion-icon name="calendar-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    
    <ion-card-content> 
      <!-- linha com botões dos dias da semana -->
      <ion-buttons class="weekdays">
        <ion-button 
          shape="round"
          *ngFor="let dia of dias; let i = index"
          (click)="toggleDia(i)"
          [class.selected]="diasSelecionados.includes(i)">
          {{ dia }}
        </ion-button>
      </ion-buttons>
    
      <!-- Nome Do Alarme-->
      <ion-item>
        <ion-input placeholder="Nome do alarme" [(ngModel)]="nomeAlarme"></ion-input>
      </ion-item>
      <!-- Vezes Por Dia -->
      <ion-item>
        <ion-input placeholder="Vezes por dia" [(ngModel)]="vezesPorDia" type="number"></ion-input>
      </ion-item>
      <!-- Vibração -->
      <ion-item>
        <ion-toggle [(ngModel)]="vibracao">Vibração</ion-toggle>
      </ion-item>
      <!-- Som do Alarme -->
      <ion-item>
        <ion-toggle [(ngModel)]="somAlarme">Som do alarme</ion-toggle>
      </ion-item>
      <!-- Modo Desafio -->
      <ion-item>
        <ion-toggle [(ngModel)]="desafioToggle">Modo Desafio</ion-toggle>
      </ion-item>
      <ion-item *ngIf="desafioToggle">
        <ion-textarea fill="outline" [autoGrow]="true" rows="3" maxlength="250" class="descricao" [(ngModel)]="descricaoDesafio" 
        placeholder="De uma descrição da sua tarefa, para a criação dos desafios.">
        Descrição
        </ion-textarea>
      </ion-item>
    </ion-card-content>

    <ion-buttons class="saveButtons">
      <ion-button fill="clear" *ngIf="idAlarme;" color="danger" (click)="excluir()">Excluir</ion-button>
      <ion-button fill="clear" color="primary" class="save" (click)="salvar()">Salvar</ion-button>
    </ion-buttons>
  </ion-card> 

  <ion-button routerLink="/tabs/alarms" shape="round">
    <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
  </ion-button>
</ion-content>

<!-- Calendario -->
<ion-modal
  [isOpen]="showCalendar"
  (didDismiss)="showCalendar = false"

  [initialBreakpoint]="0.50"
  handleBehavior="cycle"
  [keepContentsMounted]="true"
  class="calendario"
  >
  <ng-template>
    <ion-content class="ion-padding">
      <ion-datetime 
        #datetime
        presentation="date"
        [preferWheel]="false" 
        [min]="minDate" max="2027-12-31T23:59:59" 
        [(ngModel)]="calendario"
        multiple="true">
        <ion-buttons slot="buttons">
          <ion-button color="danger" (click)="cancelCalendario()">Cancelar</ion-button>
          <ion-button color="primary" (click)="salvarCalendario()">Salvar</ion-button>    
        </ion-buttons>
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Horarios -->
<!-- Disponivel Apenas na edição -->
<ion-modal
  [isOpen]="showHorarios"
  (didDismiss)="showHorarios = false"

  [initialBreakpoint]="0.95"
  [breakpoints]="[0, 0.28, 0.65, 0.95]"
  handleBehavior="cycle"
  [keepContentsMounted]="true"
  [expandToScroll]="false"
  >
  <ng-template>
    <ion-content class="ion-padding" scrollEvents="true" (ionScroll)="detectarFimDoScroll($event)">
      <h1>Horarios</h1>
      <div *ngFor="let alarmes of alarmes; let i = index" class="ion-padding">
          <ion-input fill="outline" [(ngModel)]="alarmes.hora">{{i+1}}°</ion-input>
      </div>
    </ion-content>

    <ion-footer [ngClass]="{'scroll-finalizado': chegouAoFinal}">
      <ion-toolbar>
        <ion-buttons class="saveButtons">
          <ion-button color="danger" (click)="cancelarHorarios()">Reiniciar</ion-button>
          <ion-button color="warning" (click)="gerarHorarios()">Gerar</ion-button>
          <ion-button color="primary" (click)="salvarHorarios()">Salvar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>