ion-list {
    background-color: #d4d7ef;
    color: black;
    width: 330px;
    margin-top: 250px;
    position: fixed ;
    border-radius: 20px;
}

ion-item {
    border-radius: 20px;
}


ion-button {
    --background: #8e95c5;
    --background-hover: #9aa0cf;
}

ion-content {
    --background: linear-gradient(to bottom,#ece8ec, #b5b6e3);;
}


h2{
    margin-left: 145px;
}

ion-card {
   
    margin-left: 70px;
    margin-bottom:300px;
    height: 150px;
    width: 200px;
    position:fixed;
}


.estrela {
    height: 80px;
    margin-left: 100px;
    margin-bottom: 45px;
    margin-top: 160px;
    position: fixed;
}

.pessoa {

    height: 40px;

}

ion-tab-bar {
    --background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }
  
  ion-tabs{
    background: #ede9e9;
    position: fixed;
  }
  
  ion-tab-button ion-icon{
    color: #a7abc8;
  }
  
  ion-tab-button.tab-selected ion-icon{
    color: #0077ff;
  }