<ion-content class="ion-padding">
  <ion-item class="1">
    <ion-icon name="person-circle-outline" slot="start" size="large"></ion-icon>
    <ion-label>{{usuario}}</ion-label>
    <ion-button slot="end" shape="round">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-card class="item2">
    <ion-icon name="person-circle-outline" size="large"></ion-icon>
    <ion-label>{{usuario}}</ion-label>
    <ion-button shape="round">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>
