<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Tela Reconfigurada para ser ultilizada apenas para a criação de tokens de Usuario, em versões teste</h1>

  <ion-input label="ID para token de usuario" [(ngModel)]="idToken" type="number"></ion-input>
  <ion-button (click)="criar()">Criar token de ID</ion-button>
  <br>
  <ion-button routerLink="/tabs/feed">HOME</ion-button>
  <br>
  <ion-nav-link router-direction="forward" routerLink="/alarme-tocando">
    <ion-button>Teste Alarme-Tocando</ion-button>
  </ion-nav-link>
</ion-content>