.pagina {
  --background: #beadad;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil-card {
  background-color: #9f96d6;;
  border-radius: 15px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.botao {
  --background: linear-gradient(#7a6ded, #8d83cf);
}

.perfil-item {
  --background: transparent;
  --inner-padding-end: 0;
}

.foto-perfil {
  width: 70px;
  height: 70px;
  border-radius: 50%; 
  overflow: hidden;
}

.nome-perfil {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.pontos {
  font-size: 20px;
  font-weight: bold;
  margin-top: 1px;
}

.lista-rank {
  background-color: #9f96d6;;
  border-radius: 20px;
  padding: 10px;

  max-height: 390px;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none; 
}
.lista-rank::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Edge */
}

.rank-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
}

.rank-header ion-label {
  margin-right: 10px;
}

.grupo-icon {
  width: 30px;
  height: 30px;
}

.rank-item {
  --background: #a7abc8;
  --border-radius: 10px;
  margin-bottom: 5px;
  color: #000;
}

.rank-item ion-label {
  font-weight: bold;
}

.rank{
  color: #000;
}

p{
  color: black;
}

h3{
  color: rgba(0, 0, 0, 0.774);
}

.ouro{
  --background: rgb(241, 205, 0);
}
.prata{
  --background:  silver;
}
.bronze{
  --background: #cd7f32;
}