
<ion-content>
  <ion-card class="perfil-card">
      <ion-item lines="none" class="perfil-item">
          <ion-avatar class="foto-perfil">
            <img [src]="fotoPerfil" alt="avatar">
          </ion-avatar>
          <ion-label class="nome-perfil">{{nome}}</ion-label>
      </ion-item>
  </ion-card>
    <ion-card class="perfil-card">
        <ion-card-content>
            <h3><b>SCORE</b></h3>
            <p>{{pontos}}</p>
            <br>
            <h3><b>Sobre mim</b></h3>
            <p>{{descricao}}</p>
            <br>
            <h3><b>Aniversario</b></h3>
            <p>{{dataNascimento}}</p>
        </ion-card-content>
    </ion-card>
    <ion-card inset="true" class="lista-rank" lines="none">
    <!-- Titulo -->
      <div class="rank-header">
          <ion-label class="rank">Rank</ion-label>
          <ion-img src="assets/imagens/grupo.png" class="grupo-icon"></ion-img>
      </div>
    <!-- Rank -->
      <ion-item class="rank-item" *ngFor="let usuarios of dados; let i = index"
        [ngClass]="{
          'ouro': i === 0,
          'prata': i === 1,
          'bronze': i === 2
      }">
        <ion-label>{{i+1}}° {{usuarios.username}}</ion-label>
        <ion-label slot="end">{{usuarios.pontos}}</ion-label>
      </ion-item>
    </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button routerLink="/changeprofile" class="botao">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>