.background {
  --background: linear-gradient(to bottom, #a7abc8, #ede9e9);
}

.profile-card {
  background: #c4c6e7;
  border-radius: 26px;
  padding: 20px;
  margin-top: 200px;
  text-align: center;
  position: relative;
  justify-content: center;
  
}

.profile-avatar {
  margin: 0 auto 20px auto;
  width: 100px;
  height: 100px;
}

.input-item {
  --background: transparent;
  --highlight-color-focused: #5c5c9e;
  margin-top: 10px;
  margin-bottom: 10px;
  position: center;
  border-radius: 10px;
}

.alterar-senha {
  margin-top: 20px;
  border-radius: 20px;
  background-color: #8181bb;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-self: left;
}

ion-icon {
  font-size: 24px;
  color: #bebedd;
}

ion-datetime{
  color: #a7a7db;
}

ion-fab{
  color: #9393b1;
}

