ion-card {
    background-color: #a7abc8;
}

a {
    color: #8e68e6;
}

ion-button {
    --background: #8e95c5;
    --background-hover: #9aa0cf;
}

ion-content {
    --background: linear-gradient(to bottom,#ece8ec, #b5b6e3);;
}

ion-item {
    --background-color: #a7abc8;
}