<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input label="E-mail" label-placement="floating" placeholder="" [(ngModel)]="login"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input label="Senha" label-placement="floating" placeholder="" [(ngModel)]="senha"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" id="present-alert" (click)="logar()" >Entrar</ion-button>

</ion-content>