<ion-tabs class="ion-padding">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="alarms">
      <ion-icon name="alarm-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="quests">
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>