<ion-content class="ion-padding principal">
  <ion-card class="ion-padding">
    <br><br>
    <ion-avatar class="profile-avatar" (click)="selecionarImagem()">
      <img [src]="fotoPerfil" alt="avatar">
    </ion-avatar>
    <input type="file" #fileInput hidden accept="image/*" (change)="onFileSelected($event)">

    <div class="color">
      <ion-input fill="outline" placeholder="Novo nome" [(ngModel)]="nome"
        helperText="  "></ion-input><br>
      <ion-input fill="outline" placeholder="Novo email" [(ngModel)]="email"  helperText="  "></ion-input><br>
      <ion-textarea fill="outline" [autoGrow]="true" class="descricao" rows="6" maxlength="250" [(ngModel)]="descricao"
        placeholder="Descrição"></ion-textarea>
      <br>
      <ion-input label="Data de nascimento: " placeholder="__/__/____" [(ngModel)]="dataNascimento" maxlength="10"
        (ionInput)="formatarData($event)"></ion-input>
    </div>

    <br>
    <ion-buttons class="save-box">
      <ion-button expand="block">Salvar</ion-button>
    </ion-buttons>
  </ion-card>


  <div class="back-btn">
    <ion-button routerLink="/tabs/perfil">
      <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </div>