ion-card {
  border-radius: 15px;
  background-color: #b5b6e3;
}

.profile-avatar {
  margin: 20px auto 10px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f4f4f9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  box-shadow: 0.2px 2px 6px rgba(0, 0, 0, 0.3);
}

.profile-avatar ion-icon {
  font-size: 50px;
  color: #666;
}

ion-label {
  font-weight: 500;
  font-size: 14px;
  color: #3b3b3b;
  font-family: 'Poppins', sans-serif;
}

ion-input, 
ion-textarea {
  --padding-start: 12px;
  --padding-end: 12px;
  
  font-size: 14px;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  color: #3b3b3b; /* cor do texto */
}

.descricao {
  --padding-top: 10px;
  --padding-bottom: 10px;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  color: #3b3b3b;
}

.salvarButton {
  --border-radius: 12px;
  --background: linear-gradient(to right, #7a6ded, #5c4dc5);
  font-weight: 600;
  font-size: 16px;
}

.back-btn {
  display: flex;
  justify-content: center;
}

.back-btn ion-button {
  width: 65px;   /* quadradinho estilo iPhone */
  height: 65px;
  
  --background: linear-gradient(to right, #7a6ded, #5c4dc5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-btn ion-icon {
  font-size: 28px;
  color: #fff;
}

