<ion-content [fullscreen]="true" class="ion-padding custom-background">

  <!-- Exibe o conteúdo quando NÃO há missões -->
  <div *ngIf="!hasQuests()" class="empty-content-wrapper">
    <ion-text class="main-text">
      <h1>Você não tem nenhuma missão no momento</h1>
    </ion-text>

    <ion-img src="assets/imagens/estrela.png"></ion-img>

    <ion-text class="secondary-text">
      <h2>Bora criar uma?</h2>
    </ion-text>
  </div>

  <!-- Exibe o conteúdo quando HÁ missões -->
  <div *ngIf="hasQuests()" class="has-quests-content">
    <ion-text class="quests-title">
      <h1>Desafios</h1>
    </ion-text>

    <ion-card *ngFor="let quest of mockQuests" class="quest-card">
      <!-- Cabeçalho -->
      <div class="quest-header">
        <ion-text class="quest-name">
          <h3>{{ quest.name }}</h3>
        </ion-text>
        <ion-text class="quest-points">
          +{{ quest.points }} Pontos
        </ion-text>
      </div>

      <!-- Corpo (descrição/desafios) -->
      <div class="quest-body">
        <p *ngFor="let challenge of quest.challenges">
          {{ challenge }}
        </p>
      </div>
    </ion-card>
  </div>
</ion-content>
  