<ion-content>
<ion-buttons slot="start">
  <ion-chip class="score-chip">{{ score }}</ion-chip>
</ion-buttons>

  <div class="main-content-wrapper">
    <ion-img src="assets/imagens/estrela.png" alt="Estrela pixelada grande" class="main-star"></ion-img>
    
    <!-- Contêiner de tarefas arrastáveis -->
    <div 
      class="track" 
      (touchstart)="handleTouchStart($event)"
      (touchend)="handleTouchEnd($event)"
      (touchmove)="handleTouchMove($event)"
    >
      <div class="tasks-carousel" [style.transform]="'translateX(' + transformX + 'px)'">
        <!-- Cada div.task-card é uma tarefa. A classe 'active' é para a tarefa atual -->
        <div *ngFor="let task of tasks; let i = index" class="task-card" [class.active]="i === activeTaskIndex" [style.background]="task.cardColor">
          <ion-text>
            <h4 class="points">+{{ task.points }} Pontos</h4>
            <h2 class="task-title">{{ task.title }}</h2>
          </ion-text>
          <ion-img [src]="task.image" class="task-image"></ion-img>
          <ion-text>
            <p class="availability">Disponível até {{ task.time }}</p>
            <p class="status">{{ task.status }}</p>
          </ion-text>
        </div>
      </div>
    </div>
  </div>
</ion-content>
