<ion-content [fullscreen]="true" class="forgot-password-page">

  <ion-card class="reset-card">
    <ion-card-header class="ion-no-padding">
      <ion-card-title class="card-title">Esqueci minha senha</ion-card-title>
    </ion-card-header>

    <ion-card-content class="card-content">
      <p class="description">
        Para redefinir a senha, precisamos do e-mail cadastrado na sua conta e lhe enviaremos um código.
      </p>

      <ion-item class="input-item">
        <ion-input label="e-mail" label-placement="floating" type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      

      <ion-button expand="block" class="next-button">Próximo</ion-button>

      <div class="cancel-link">
        
        <a routerLink="/login" class="cancelar">Cancelar</a>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="footer-logo">
    
    <ion-img src="assets/imagens/pomocat.jpg" class="logo"></ion-img>
  </div>

</ion-content>


