<!-- Caso não tenha alarmes -->
<ion-content [fullscreen]="true" class="empty-content-wrapper custom-background" *ngIf="!hasAlarms()">
  <br>
  <ion-text class="alarms-title">
    <h1>Alarmes</h1>
  </ion-text>

  <ion-text class="main-text">
    <h1>Você não tem nenhum alarme no momento</h1>
  </ion-text>

  <ion-img src="assets/imagens/estrela.png" alt="Estrela decorativa"></ion-img>

  <!-- Botão para Criar alarme -->
  <ion-fab horizontal="center" vertical="center" slot="fixed">
    <ion-fab-button routerLink="/new-alarm" class="add-button">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- Caso tenha alarmes -->
<ion-content [fullscreen]="true" class="ion-padding custom-background" *ngIf="hasAlarms()">
  <br>
  <ion-text class="alarms-title">
    <h1>Alarmes</h1>
  </ion-text>

  <ion-list class="alarms-list">
    <div *ngFor="let alarm of dados; let i = index" class="alarm-container">
      <ion-item class="alarm-item" [button]="true" routerLink="/new-alarm/{{alarm.id}}">
        <ion-label>
          <strong class="alarm-name">{{ alarm.nomeAlarme }}</strong>
        </ion-label>
      </ion-item>

      <div class="toggle-and-time">
        <strong class="alarm-time">{{ alarm.proximoAlarme }}</strong>
        <ion-toggle [checked]="alarm.ativo" (ionChange)="toggleAlarm(i)" color="primary"></ion-toggle>
      </div>
    </div>
  </ion-list>

  <!-- Botão para Criar alarme -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button routerLink="/new-alarm" class="add-button">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
