<ion-content [fullscreen]="true" class="ion-padding">
  <br><br>
  <!-- Horarios mais especificos -->
  <div class="seletorTempo">
    <ion-datetime 
      presentation="time" 
      [value]="'2025-01-01T' + startTime" 
      (ionChange)="onStartTimeChange($event)">
    </ion-datetime>
    <p>A</p>
    <ion-datetime 
      presentation="time" 
      [value]="'2025-01-01T' + endTime" 
      (ionChange)="onEndTimeChange($event)">
    </ion-datetime>
  </div>

  <ion-card>
    <!-- Header -->
    <br>
    <div class="title">
      <h5>Data</h5>
      <ion-button shape="round" id="calendar">
        <ion-icon name="calendar-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
    
    <ion-card-content> 
      <ion-buttons class="weekdays">
        <ion-button 
          shape="round"
          *ngFor="let dia of dias; let i = index"
          (click)="toggleDia(i)"
          [class.selected]="selecionados.includes(i)">
          {{ dia }}
        </ion-button>
      </ion-buttons>
    
      <!-- Nome Do Alarme-->
      <ion-item>
        <ion-input placeholder="Nome do alarme"></ion-input>
      </ion-item>
      <!-- Vezes Por Dia -->
      <ion-item>
        <ion-input placeholder="Vezes por dia"></ion-input>
      </ion-item>
    </ion-card-content>

    <ion-button fill="clear" color="danger" (click)="excluir()" class="save">Excluir</ion-button>
    <ion-button fill="clear" (click)="salvar()" class="save">Salvar</ion-button>
  </ion-card>  
</ion-content>


<ion-popover trigger="calendar" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-datetime id="datetime"></ion-datetime>
    </ion-content>
  </ng-template>
</ion-popover>