
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Esqueci minha senha</ion-card-title>
      <ion-card-subtitle>Para redefinir sua senha, precisamos do e-mail cadastrado na sua conta e lhe enviaremos um código  </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>

      <ion-input-otp  style="--background: #a7abc8"> Não recebeu o código? <a href="#">Resend the code</a> </ion-input-otp>

      <ion-button routerLink="/esqueci-3"  expand="block">Proximo</ion-button></ion-card-content>
      <a href="/login" class="cancelar"> Cancelar </a>

  </ion-card>
  <ion-img src="assets/imagens/pomocat.jpg"></ion-img>
</ion-content>