.custom-background {
  --background: #f7f7f7;
}

.empty-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.main-text h1 {
  font-family: 'Poppins';
  font-size: 1.7rem;
  font-style: italic;
  font-weight: 700;
  color: #2e1b5b;
  margin: 0;
}

.secondary-text h2 {
  font-family: 'Poppins';
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  color: #6d6d6d;
  margin: 0;
}

.has-quests-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 20px;
}

.quests-title {
  text-align: center;
  h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2e1b5b;
  }
}

/* Novo estilo para cards no formato da segunda imagem */
.quest-card {
  border-radius: 12px;
  background: #e4bdbd;
  padding: 12px;
  color: #2e1b5b;
}

.quest-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.quest-name h3 {
  margin: 0;
}
.quest-name h5{
  margin: 0;
}

.quest-points {
  font-size: 0.9rem;
}

.quest-body {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #2e1b5b;
}
