<ion-content [fullscreen]="true" class="ion-padding custom-background">

  <!-- Exibe o conteúdo quando NÃO há alarmes -->
  <div *ngIf="!hasAlarms()" class="empty-content-wrapper">
    <ion-text class="main-text">
      <h1>Você não tem nenhum alarme no momento</h1>
    </ion-text>

    <ion-img src="assets/imagens/estrela.png"></ion-img>
    <ion-fab horizontal="center" vertical="center" slot="fixed" class="add-button">
      <ion-fab-button>
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <div *ngIf="hasAlarms()">
    <ion-list class="alarms-list">
      <div *ngFor="let alarm of alarms; let i = index" class="alarm-container">
        <ion-item class="alarm-item">
          <ion-avatar slot="start" class="alarm-avatar">
            <img [src]="alarm.image" alt="ícone do alarme" />
          </ion-avatar>
          <ion-label>
            <strong>{{ alarm.title }}</strong><br>
            <ion-note>Próximo:</ion-note>
          </ion-label>
        </ion-item>

        <div class="toggle-and-time">
          <strong class="alarm-time">{{ alarm.time }}</strong>
          <ion-toggle [checked]="alarm.enabled" (ionChange)="toggleAlarm(i)"></ion-toggle>
        </div>

      </div>
    </ion-list>
    
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="in-button">
          <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>

  </div>
</ion-content>