.alarms-background {
  --background: #f7f7f7;
}

.empty-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.main-text h1 {
  font-family: 'Poppins';
  font-size: 1.7rem;
  font-style: italic;
  font-weight: 700;
  color: #2e1b5b;
  margin: 0;
}

.transparent-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  --border-width: 0;
}

.alarms-title {
  color: #3f51b5;
  font-weight: bold;
}

.alarms-list {
  background: transparent;
  padding: 0;
}

.alarm-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  overflow: visible;
  padding: 0;
}

.alarm-item {
  --background: transparent;
  flex-grow: 1;
  --padding-start: 16px;
  --padding-end: 8px;
  --inner-padding-end: 0;
  --border-width: 0;
}

.alarm-avatar {
  width: 48px;
  height: 48px;
  padding: 8px;
  background: #bd8787;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alarm-avatar img {
  width: 24px;
  height: 24px;
}

.alarm-item ion-label strong {
  font-size: 1rem;
  font-weight: bold;
  color: #2e1b5b;
}

.alarm-item ion-note {
  font-size: 0.8rem;
  color: #6d6d6d;
}

.toggle-and-time {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 16px;
}

.alarm-time {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2e1b5b;
}

ion-toggle {
  --handle-background: #ffffff;
  --handle-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --background: #dcdcdc;
  --background-checked: #3f51b5;
}

.add-button {
  top: 60%; 
  transform: translateY(-50%);
  --background:#6a1b9a;
}
.in-button{
  top: 80%
}
